@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-bg {
  inset: 0;
  background-image: linear-gradient(to right, #80808012 2px, transparent 1px),
    linear-gradient(to bottom, #80808012 2px, transparent 1px);
  background-size: 30px 30px;
}

.grid-gradient {
    background-image: radial-gradient(circle 500px at 50% 200px, #232323, transparent);
}

.grid-dot {
  background-image: radial-gradient(#2f2f2f 1px, transparent 1px);
  background-size: 16px 16px;
}
